ion-content{
    --ion-background-color: #E1EAF9;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-header{
    position: absolute;
    text-align: center;
}

ion-card, ion-img{
    --ion-background-color: #E1EAF9;
}

ion-card-header{
    text-align: center;
}

.signin-btns{
    margin-top: 2em;
    text-align: center;
    color: #F0F4FA;
}

.loginbtn{
    --ion-color-primary: #215AB7;
}

.text-tag{
    margin-top: 12em;
    text-align: center;
    span{
        font-size: 1.1em;
        font-weight: normal;
        color: #898585;
    }
}