<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/images/Joystick.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        GetParty
      </ion-card-title>
      <ion-card-subtitle>
        Seja bem-vindo ao Get Party, uma rede social
        para conhecer pessoas para jogar junto!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="signin-btns">
        <ion-button fill="solid" shape="round" class="loginbtn" (click)="goToLogin()">
          Entrar
        </ion-button>
        <ion-button href="signup" fill="outline" shape="round " color="dark" (click)="goToSignUp()">
          Registrar-se
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
