<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="redefinirSenha"></ion-back-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formForgot" (ngSubmit)="submitForm()">
        <div class="wrapform">
          <ion-item>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input
              placeholder="Email"
              formControlName="email"
              required
            ></ion-input>
          </ion-item>
    
        </div>
        <div class="sign-btn">
          <ion-button shape="round" fill="solid" class="sign-btn" type="submit"
            >Redefinir Senha</ion-button
          >
        </div>
      </form>
  
</ion-content>
