ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

ion-header{
    position: absolute;
    text-align: center;
}

ion-card{
    box-shadow: none;
}

ion-card-header{
    text-align: center;
}

ion-icon{
    margin-right: 0.6em;
}

ion-button{
    margin: auto;
}

.profile-image{
    color: black;
    text-align: center;
    font-size: medium;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.sign-up-btn{
    text-align: center;
    margin-top: 2em;
}