ion-header{
    position: relative;
}

ion-header{
    text-align: center;
}

ion-content{
    text-align: center;
}

ion-card{
    text-align: center;
    align-items: center;
}

ion-button{
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ion-avatar{
    height: 12.5em;
    width: 12.5em;
    margin: auto;
    border: 0.2em solid #9500b7;
}

ion-icon{
    margin-right: 0.6em;
}

