<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="formEdit" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-avatar>
          <img [src]="profile.profileImageURL" alt="">
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-button size="default" shape="round">
          <input type="file" (change)="uploadFile($event.target)"/>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline"></ion-icon> 
        <ion-input formControlName="name" placeholder="Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon> 
        <ion-input formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-steam"></ion-icon> 
        <ion-input formControlName="steamLink" placeholder="Steam"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" color="dark">LoL</ion-button>
        <ion-input formControlName="lol" placeholder="League of Legends"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Salvar</ion-button>
      <ion-button expand="block" (click)="excluir()" color="danger">Excluir</ion-button>
      <ion-button (click)="logout()">
        Sair
        <ion-icon shape="round" slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </form>
  </ion-list>
</ion-content>
